.carousel {
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.carousel_inner {
  white-space: nowrap;
}

.carousel__item {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: black;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel__navigation {
  margin: 0 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  /* color must be another var with value: colorStrip[1] */
  color: lightgreen;
}

.carousel__navigation button {
  color: var(--nav);
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}
