.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel_inner {
  white-space: nowrap;
}

.carousel__item {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__navigation {
  margin: 0 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}
