.nav {
  position: absolute;
  width: 300px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__inner {
  color: var(--nav);
  text-decoration: none;
  -webkit-transition: color 1s ease-in-out,
    text-decoration 0.2s ease-in-out 0.1s;
  transition: color 1s ease-in-out, text-decoration 0.2s ease-in-out 0.1s;
}

.nav__inner:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .nav {
    width: 100vw;
  }
}
